@page "/"

<div class="mt-1">
    <Progress ValueNow="25" BgColor="Progress.BackgroundColor.Green" />
</div>
<div class="mt-1">
    <Progress ValueNow="50" BgColor="Progress.BackgroundColor.Red" />
</div>
<div class="mt-1">
    <Progress ValueNow="75" BgColor="Progress.BackgroundColor.Yellow" />
</div>
