@page "/"

<div class="mt-1">
    <Progress ValueNow="ValueNow" BgColor="Progress.BackgroundColor.Green" />
</div>
<div class="mt-1">
    <Progress ValueNow="ValueNow" BgColor="Progress.BackgroundColor.Red" />
</div>
<div class="mt-1">
    <Progress ValueNow="ValueNow" BgColor="Progress.BackgroundColor.Yellow" />
</div>
<div class="mt-1">
    <Progress ValueNow="ValueNow" BgColor="Progress.BackgroundColor.Green" Label="we got {0}%" />
</div>
<div class="mt-1">
    <Progress ValueNow="ValueNow" BgColor="Progress.BackgroundColor.Red" Label="finally {0}%" />
</div>
<div class="mt-1">
    <Progress ValueNow="ValueNow" BgColor="Progress.BackgroundColor.Yellow" Label="{0}%" />
</div>

@code {
    const int From = 0, To = 100;
    int ValueNow { get; set; } = 50;

    protected override Task OnAfterRenderAsync(bool firstRender)
        => InvokeAsync(async () =>
        {
            while (true)
            {
                await System.Threading.Tasks.Task.Delay(2000);
                ValueNow = new Random().Next(From, To);
                StateHasChanged();
            }
        });
}